---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Astro.">
	<main>

		<h1 class="6xl font-bold text-white text-center mt-8 mb-4">
            About Astro
		</h1>

        <div class="container mx-auto px-4">
            <p class="text-white text-lg">
                Astro is a new static site generator that is built with modern web technologies like React and TypeScript. It is designed to be fast, flexible, and developer-friendly. Astro is a great choice for building static websites, blogs, and web applications.
            </p>
        </div>
	</main>
</Layout>
