---
console.log('Header component loaded!');
---

<astro-fragment>
    <header class="py-8 px-8 mx-auto max-w-xl lg:py-16 lg:px-16">
        <div class="mx-auto text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white sm:text-5xl">
                Space X Launches 🚀
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                The latest Space X launches from around the world.
            </p>
        </div> 
    </header>
</astro-fragment>